<%= render 'shared/partials/hero' %>

<div class='mt-4'>
  <div class="mx-auto max-w-lg text-center">
    <h2 class="text-3xl font-bold sm:text-4xl">Kickstart your marketing</h2>

    <p class="mt-4 text-gray-300">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur aliquam doloribus
      nesciunt eos fugiat. Vitae aperiam fugit consequuntur saepe laborum.
    </p>
  </div>

  <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8 m-12" id="articles">
    <%= render @articles  %>
  </div>
  <p class="text-center my-8">
    <button class="bg-blue-500 text-white px-8 py-3 rounded-md mt-4 hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
        See More
    </button> 
  </p>
</div>


<div class="bg-gray-500 text-white py-16">
  <%= render 'web/subscribers/new', subscriber: @subscriber %>
</div>