<div class="bg-cover bg-center relative h-[94vh]" style="background-image: url('https://picsum.photos/1920/1080');">
  <div class="bg-black bg-opacity-50 text-white absolute inset-0 flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4">Discover the Beauty</h1>
    <p class="text-lg">Immerse yourself in a world of breathtaking views.</p>
    <a href="#" class="bg-white text-black py-2 px-6 mt-6 rounded-full inline-block">Learn More</a>
  </div>
</div>